{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="/test/{{ node.test_result.idx }}">
                {% if node.test_result.ok %}
                    <h2>OK &mdash; {{ node.test_result.finder.name }} &mdash; {{ node.test_result.file }}</h2>
                {% else %}
                    <h2>FAIL &mdash; {{ node.test_result.finder.name }} &mdash; {{ node.test_result.file }}</h2>
                {% endif %}
            </a>
            {{ node | node_img }}
            <hr/>
            <h3>Process</h3>

            <table>
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Arguments</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                {% for ancestor in node.ancestors_and_me() %}
                    <tr>
                        <td>
                            {% if ancestor.key[0] %}
                                {{ ancestor.key[0] }}
                            {% else %}
                                Root Node
                            {% endif %}
                        </td>
                        <td>
                            {% if ancestor.key[0] %}
                                <ul>
                                    {% for argument in ancestor.key[1:] %}
                                        <li>{{ argument }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        <td>{{ ancestor | node_img }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}