{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="/test/{{ result.idx }}">
                {% if result.ok %}
                    <h2>OK &mdash; {{ result.name }} &mdash; {{ result.file }}</h2>
                {% else %}
                    <h2>FAIL &mdash; {{ result.name }} &mdash; {{ result.file }}</h2>
                {% endif %}
            </a>

            {{ result.frame | node_img }}

            {{ test_render }}
        </div>
    </div>
{% endblock %}