{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            {% if result.ok %}
                <h2>OK &mdash; {{ result.finder.name }} &mdash; {{ result.file }}</h2>
            {% else %}
                <h2>FAIL &mdash; {{ result.finder.name }} &mdash; {{ result.file }}</h2>
            {% endif %}

            <img height="600" src="/test/{{ result.idx }}/frame">
            <br/>
            <img src="/test/{{ result.idx }}/prepared-with-rects">

            <table>
                <thead>
                <tr>
                    <th>Certainty</th>
                    <th>Character</th>
                    <th>Image</th>
                    <th>Ancestry</th>
                </tr>
                </thead>
                <tbody>
                {% for reading in result.readings %}
                    <tr>
                        <td>{{ "%.2f"|format(reading.certainty) }}</td>
                        <td>{{ reading.value }}</td>
                        <td><img src="/test/{{ result.idx }}/char/{{ loop.index0 }}"></td>
                        <td><a href="/test/{{ result.idx }}/char/{{ loop.index0 }}/ancestry">view</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}